@use "forward" as *;

@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Montserrat:wght@100;400;500;600;700&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #fff;
  scroll-behavior: smooth;
}
h1 {
  font-family: "DM Serif Display", serif;
  color: #272a48;
}
a {
  color: inherit;
  text-decoration: none;
}
a.active {
  color: red;
}
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

h2{
  font-family: "DM Serif Display", serif;
  font-size: clamp(2rem, 2.5vw, 3rem);
  padding-bottom: 1rem;
}
h3{
  font-family: "DM Serif Display", serif;
  font-size: clamp(1rem, 2vw, 2rem);
  padding-bottom: 1rem
}