---
// Style Imports
import '../styles/style.scss';
// Component Imports
import BaseLayout from '../layouts/BaseLayout.astro';
import Slider from '../components/Slider.astro';

let titulo = "Esto es Home"
---
<BaseLayout eltitulo={titulo}>
<main >
  <Slider />
	<h1>{titulo}</h1>

</main>
</BaseLayout>