---
// Style Imports
import '../styles/style.scss';
// Component Imports
import BaseLayout from '../layouts/BaseLayout.astro';
import Hero from '../components/Hero.astro';

import Footer from '../components/Footer.astro';
let titulo = "Trajes de baño y ropa de playa en Ixtapa"
---
<BaseLayout eltitulo={titulo}>
<main >
	<Hero encabezado={titulo} />
	
	<Footer />

</main>
</BaseLayout>