---

---

    <section id="accesorios">
    <div id="izq">
        <div id="texto">
        <h2>Accesorios</h2>
        <p>
        <p>Zapatos, sombrero, carteras, cinturones, etc..</p> Los accesorios estan pesados como el acompañamiento perfecto y marcar un estilo elegante y comodo en tus vacaciones en la playa.
        </p>
        </div>
        <img src="../public/assets/accesorios-tandor-hombre-5.webp" alt="Accesorios de ropa para hombres caballeros como carteras, sombreros, cinturones y zapatos en ixtapa">
    </div>

    <div id="der">
      <div class="accesorio">
      <img src="../public/assets/zapatos-piel-hombre-tandor-ixtapa.webp" alt="zapatos de piel en ixtapa zihuatanejo">
      </div>
      <div class="accesorio">
      <img src="../public/assets/cinturones-piel-tandor-ixtapa.webp" alt="cinturones de piel en ixtapa zihuatanejo">
      </div>
      <div class="accesorio">
      <img src="../public/assets/carteras- de- piel- hombre-ixtapa.png" alt="carteras de piel en ixtapa zihuatanejo">
      </div>
    </section>

    <style lang="scss">
        $gris: #353535;
        .accesorio{

}        
    </style>