---
// import '../styles/_color.scss';
---

<div class="section">
  <div class="bandeja">
    <div>
      <img class="uno"
        src="/assets/vitrina-tandor-ropa-hombre-1.webp"
        alt="Ropa de hombre en ixtapa zihuatanejo"
      />
    </div>
    <div class="txt">
      <p>El mejor estilo, confort y materiales de calidad en tu vestir.</p>
    </div>
  </div>
  <div class="bandeja">
    <div class="txt">
      <p>
        El clima calido de <b>Ixtapa Zihuatanejo no es sinonimo de ropa informal</b>,
        en Tandor te ofrecemos comodidad y un gran estilo, ropa ideal para
        eventos o bodas en la playa.
      </p>
    </div>
    <div>
      <img class="dos"
        src="/assets/zapatos-tandor-hombre-2.webp"
        alt="Ropa de hombre en ixtapa zihuatanejo"
      />
    </div>
  </div>
</div>

<style lang="scss">
  $beige: #fce8db;
  $azulOscuro: #272a48;
  $naranja: #fc7f0c;

  .section {
    background: $beige;
    background: linear-gradient(0deg, $beige 60%, rgba(255, 255, 255, 1) 60%);
    margin-top: 3rem;
  }
  .bandeja {
    display: flex;
    width: min(100% - 5rem, 80rem);
    margin-inline: auto;
  }

  .bandeja:last-child {
    margin-top: -30px;
    z-index: 200;
    .uno {
      flex: 1 0 50%;
      object-fit: cover;
    }
    div {
      flex: 1 0 50%;
    }
  }

  .bandeja .txt {
    display: inherit;
    justify-content: center;
    align-items: center;
    p {
      width: 60%;
      color: $azulOscuro;
    }
  }

  @media (max-width: 414px) {
    .section{
    background: linear-gradient(0deg, $beige 40%, rgba(255, 255, 255, 1) 40%);
    }
    .bandeja {
      display: flex;
      flex-wrap: wrap;
      .txt {
        order: -1;
           -webkit-transform: translate(-2rem, -20px);
           transform: translate(-2rem, -20px);
        p {
          width: 100%;
          padding: 2rem;
        }
      }
      .uno {
        -webkit-transform: translate(0, -20px);
        transform: translate(-2rem, 0px);
        order: 1;
        z-index: 200;
        position: relative;
      }
    }
    .bandeja:last-child {
      margin-top: 0px;
      .dos {
        flex: 1 0 100%;
        order: 2;
        z-index: -1;
        -webkit-transform: translate(2rem, -20px);
        transform: translate(2rem, -30px);
      }
      .txt {
        order: 1;
        flex: 1 0 100%;
        -webkit-transform: translate(2rem, -20px);
        transform: translate(2rem, -20px);
      }
    }
  }
</style>
