---
---
<section>
  <div id="escencial">

    <div id="izq">
      <h2>Escenciales Tandor</h2>
      <img
        src="/assets/modelo-tandor-ropa-hombre.png"
        alt="Ropa para caballeros en Ixtapa Zihuatanejo"
      />
    </div>
    <div class="der">
        <img src="/assets/camisas-tandor-ixtapa-3.webp" alt="Gran variedad en camisas de lino y guayaberas en ixtapa Zihuatanejo">
        <img src="/assets/camisas-tandor-ixtapa-4.webp" alt="Gran variedad en pantalones de lino y accesorios para hombre en ixtapa Zihuatanejo">

        <p>
            <b>Camisas, guayaberas y pantalones de lino para caballero</b> de la más alta calidad, escencial para eventos formales e informales en playa.
        </p>
    </div>
  </div>
</section>

<style lang="scss">
 $beige: #fce8db;

    #escencial {
        margin-top: 4rem;
   display: grid;
   grid-template-columns: 1fr 3fr;
    background: $beige;
    background: linear-gradient(0deg, $beige 60%, rgba(255, 255, 255, 1) 60%);
    width: min(100% - 5rem, 80rem);
    margin-inline: auto;
    }
    
    #izq {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        h2{
padding: 4rem 1rem;
        }
        img{
            align-self: flex-end;
            justify-self: center;
        }
    }
    
    .der {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        img:first-child{
            margin-right: 2%;
        }
        img{
           width: 45%;
            object-fit: cover;
        }
        p{
            flex: 1 0 100%;
            padding: 4rem;
        }
    }

    @media (max-width: 414px) {
        #escencial {
            grid-template-columns: 1fr;
            width: 100%;
            background: linear-gradient(0deg, $beige 80%, rgba(255, 255, 255, 1) 80%);
        }
        #izq {
            margin-top: 0rem;
              h2{
                padding: 0rem 0rem 3rem;
                 }
                 img{
                    height: 100vw;
                 }
        }
        .der {
   
            img:first-child{
                margin-right: 0;
                margin-bottom: 2rem;
            }
            img{
                width: 80%;
            }
        }
    }
    
</style>
