---

---
<script hoist type="module">
  const body = document.getElementById("nav");
    let lastScroll = 0;
    
    window.addEventListener("scroll", () => {
      const currentScroll = window.pageYOffset;
      if (currentScroll <= 0) {
        body.classList.remove("scroll-up");
        return;
      }
      
      if (
        currentScroll > lastScroll &&
        !body.classList.contains("scroll-down")
        ) {
          body.classList.remove("scroll-up");
          body.classList.add("scroll-down");
        } else if (
          currentScroll < lastScroll &&
          body.classList.contains("scroll-down")
          ) {
            body.classList.remove("scroll-down");
            body.classList.add("scroll-up");
          }
          lastScroll = currentScroll;
        });
        
        // return () => {
        //   window.removeEventListener("scroll", function () {
        //     return;
        //   });
        // };
          
      // version de celular
//navegacion
// nav

const esCell = function(x) {
  if (x.matches) {
    // If media query matches
    const menuIco = document.querySelector(".menu-toggle");
    const mainNav = document.querySelector("#nav");
    // const anchor = document.querySelector(".anchor");
    const abierto = false;

    function abrirMenuFull() {
      this.abierto = !this.abierto;
      mainNav.classList.remove("menuFullAbierto");
      mainNav.classList.remove("desanimaMenu");
      menuIco.classList.toggle("is-active");

      this.abierto
        ? mainNav.classList.toggle("menuFullAbierto")
        : mainNav.classList.toggle("desanimaMenu");
    }

    menuIco.addEventListener("click", abrirMenuFull);
    //anchor.addEventListener("click", abrirMenuFull);
  } else {
    return;
  }
}
  const x = window.matchMedia("(max-width: 479px)");
  esCell(x); // Call listener function at run time
  x.addListener(esCell); // Attach listener function on state changes

 </script>

   <nav id="nav">
      <button class="menu-toggle">Menu</button>
      <div class="logo">
          <a href="/">
            <img src="https://via.placeholder.com/150x50" alt="nombre de la empresa" />
          </a>
      </div>
      <ul>
        <li>
          <a href="#">item 1</a>
        </li>
        <li>
          <a href="#">item 2</a>
        </li>
        <li>
          <a href="#">item 3</a>  
        </li>
      </ul>
      <ul id="social"></ul>
    </nav>