---
---

<div id="ubicacion">
  <div class="bandeja">
    <h2>Ubicanos</h2>
    <p class="info">Te esperamos en nuestro local comercial en Ixtapa</p>
    <div class="izq">
      <img
        src="/assets/ubicanos-siboney-ixtapa.jpg"
        alt="Siboney Tienda de trajes de baño en Ixtapa Zihuatanejo"
      />
    </div>
    <div class="der">
      <div class="conte">
        <h3>Dirección</h3>
        <address>
          <b>Centro comercial La Pueta local No.5 y 11 Boulevard Ixtapa</b>, frente al hotel
          Holiday Inn.
        </address>
        <a href="https://www.google.com/search?q=Siboney&stick=H4sIAAAAAAAAAONgU1I1qLAwMTYxNzMztkxJNUg0NjG2MqgwTDUzTk5ONElMMTSwSEpOWsTKHpyZlJ-XWgkAThwY7DMAAAA&hl=es-419&mat=CadEhhvRgZD_ElcBNqvzOsdvoGrBYdGo_LTB4xBTPfkUs4VWX7cnb6Hu-nw0RGMd762KydZ0fJ4PX8ZuRva75-MNvauRssHoqqomLOo4BKpYsLyRs8lgHm7wFp3Rvo2vs00&authuser=0" target="_blank" class="btn">Como llegar</a>
      </div>
    </div>
  </div>
</div>

<style lang="scss">
  .bandeja {
    width: min(100% - 5rem, 80rem);
    margin-inline: auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 5rem;
  }
  h2,
  .info {
    flex: 1 0 100%;
  }
  .info {
    margin-bottom: 2rem;
  }

  .izq {
    flex: 2 1 60%;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  .der {
    flex: 1 1 30%;
    background-color: #2a209e;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    .conte {
      width: 80%;
    }
      @media (max-width: 414px) {
      padding: 2rem 0;
    }
  }
  address{
      font-style: normal;
  }
  .btn{
 font-size: 1.2rem;
  display: block;
  margin-top: 1em;
  text-align: center;
  
  }
</style>
