---

---
<section id="ubicacion">
    <h2>Ubicación</h2>
    <p>Visita nuestro local comercial en Ixtapa </p>
    <div id="conte">
    <img src="/assets/tandor-ubicacion.webp" alt="Ubicación de Tandor, ropa y accesorios para hombre / caballero en Ixtapa Zihuatanejo">
    <div id="texto">
    <div class="bandeja">
    <h3>Dirección</h3>
    <p>Centro comercial La Puerta, local 7, 15 y 16 Ixtapa Zihuatanejo. (a unos pasos del Kiosko de Ixtapa)</p>
    </div>
    </div>
    </div>

</section>

<style>

#ubicacion{
    margin-top: 2rem;
    width: min(100% - 5rem, 80rem);
    margin-inline: auto; 
}
#ubicacion p{
    margin-bottom: 2rem;
}
#conte{
    display: flex;
    gap: 1rem;
}
/* #conte img{
    width: 50%;
} */
#texto{
background-color: #353535;
color: #fff;
display: flex;
justify-content:  center;
align-items: center;
padding: 2rem;
}
#texto .bandeja p{
    margin: 0;
}

@media screen and (max-width: 414px){

    #conte{
        flex-direction: column;
    }

}
</style>