---
const {eltitulo} = Astro.props
---

    <html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>Tandor | {eltitulo} Zihuatanejo</title>
	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
</head>
<body>

<slot />
</body>
</html>
