---
const {eltitulo} = Astro.props
const descripcion = "tienda de ropa para caballero en Ixtapa Zihuatanejo pensada para los que quieren lucir bien y estar comodos en eventos en la playa"
---

    <html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>Tandor | {eltitulo} Zihuatanejo</title>
	 <meta name="description" content={descripcion} />
	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
</head>
<body>

<slot />
</body>
</html>
