---
const {eltitulo} = Astro.props
const descripcion = "Trajes de baño, salidas de playa, vestidos de lino y accesorios para lucir expectacular en la playa de Ixtapa Zihuatanejo."
---

    <html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>Siboney | {eltitulo} </title>
	 <meta name="description" content={descripcion} />
	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<link rel="canonical" href="https://www.siboney-ixtapa.com">
	<meta name="google-site-verification" content="O37uo1nTcgRoQo5TtlWQle-ogEjPImxW3A-fEcx4jKo" />
</head>
<body>

<slot />
</body>
</html>
